<header>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark primary-color-dark">
      <a class="navbar-brand" href="https://fakenewsrecognition.com">Fake News Recognition</a>
    </nav>
  </div>
</header>

<p></p>
<p></p>

<main>
  <div class="container">

    <div class="card" #mainView>

      <div class="card-body">
        <p class="h4 text-center py-4">Recognize article</p>

        <mat-tab-group>
          <mat-tab label="By Content">
            <p></p>
            <mat-form-field class="input-full-width">
              <input matInput placeholder="Article title" [(ngModel)]="title">
            </mat-form-field>

            <mat-form-field class="input-full-width">
              <textarea matInput placeholder="Article content (~300 characters recommended)" [(ngModel)]="content"></textarea>
            </mat-form-field>

            <div class="text-center py-4 mt-3">
                <button mat-button mat-raised-button color="primary" (click)="recogniseByContent()">Recognise</button>
              </div>
          </mat-tab>
          <mat-tab label="By URL">
            <p></p>
            <mat-form-field class="input-full-width">
              <input matInput placeholder="Website URL" [(ngModel)]="url">
            </mat-form-field>

            <div class="text-center py-4 mt-3">
                <button mat-button mat-raised-button color="primary" (click)="recogniseByURL()">Recognise</button>
              </div>
          </mat-tab>
        </mat-tab-group>

        <div *ngIf="loading">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>

        <div *ngIf="!loading">
          <ngx-charts-bar-horizontal-stacked [view]="viewBinary" [scheme]="colorScheme" [results]="predictionsBinary" [legend]="showLegend">
          </ngx-charts-bar-horizontal-stacked>

          <ngx-charts-pie-grid [view]="viewMulticlass" [scheme]="colorScheme" [results]="predictionsMulticlass">
          </ngx-charts-pie-grid>
        </div>
      </div>
      <!-- Card body -->

    </div>


  </div>
</main>
